# WebStorm
.idea/

# VSCode
.vscode/

node_modules/

# Carpetas y archivos que NO se toman en cuenta
images/productos/
administracion/docfac/
administracion/docped/
util/system/conexionMySql.php
administracion/util/system/conexionMySql.php