/*--product--*/
.kic h3 {
    font-size: 2.5em;
    color: #000;
    margin: 0em 0.4em 1em;
}
.kic-top1 h6{
	font-size:1.3em;
	color:#000;
	margin:0.7em 0 0.3em;
}
.kic-top1 p{
	font-size:1em;
	color:#000;
}
.kic-top {
    padding: 8em 0 0;
}
.agileinf{
	padding-top:3em;
}
/*--product--*/